<h2><%= @hospital.name %></h2>

<h4>Number of Doctors Currently Employed: <%= @hospital.doctors.count %></h4>
<h4>Universities Attended by our Doctors: </h4>
  <% @hospital.doctors.unique_university.each do |doctor| %>
    <%= doctor.university %><br>
  <% end %>

